.valid {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #077369;
}
.invalid {
  color: #a40d0d;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.input {
  border: 1px solid black;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  height: 48px;
}
.confirm input {
  border: 1px solid black;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
}

.validInput {
  border: 2px solid #077369;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  height: 48px;
}
.inValidInput {
  border: 2px solid #a40d0d;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  height: 48px;
}

.loginButtonEnabled {
  width: 450px;
  height: 56px;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #077369;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

@media screen and (min-width: 300px) {
  #log button:disabled {
    width: 348px;
    margin-top: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #9cc7c3;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 768px) {
  #log button:disabled {
    width: 370px;
    margin-top: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #9cc7c3;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1024px) {
  #log button:disabled {
    width: 450px;
    margin-top: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #9cc7c3;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
}

/* enabled button responsiveness */
@media screen and (min-width: 300px) {
  #log button {
    width: 348px;
    margin-top: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #077369;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
}

@media screen and (min-width: 768px) {
  #log button {
    width: 370px;
    margin-top: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #077369;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
}
@media screen and (min-width: 1024px) {
  #log button {
    width: 450px;
    margin-top: 24px;
    text-align: center;
    border-radius: 4px;
    background-color: #077369;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 24px;
    margin-bottom: 4px;
  }
}

.enabled {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #077369;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

button:disabled {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #9cc7c3;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

input[type="checkbox"] {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px;
}

.checkbox {
  display: inline-block;
  height: 15px;
  width: 15px;
  background: #fff;
  border-radius: 4px;
  border: 2px #ddd solid;
  margin-right: 10px;
}

.checkbox--active {
  border-color: #077369;
  background: #077369;
}

.enab {
  width: 388px;
  height: 52px;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #077369;
  color: white;
  font-family: "Raleway";
  font-size: 16px;
}
.enabdiv button:disabled {
  width: 388px;
  height: 52px;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #9cc7c3;
  color: white;
  font-family: "Raleway";
  font-size: 16px;
}
