.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4285f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.valid {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;

  color: #077369;
}
.invalid {
  color: #a40d0d;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.input {
  border: 1px solid black;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  height: 48px;
}
.confirm input {
  border: 1px solid black;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
}

.validInput {
  border: 2px solid #077369;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  height: 48px;
}
.inValidInput {
  border: 2px solid #a40d0d;
  outline: none;
  display: block;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  height: 48px;
}

.loginButtonEnabled {
  width: 450px;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #077369;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

#log button:disabled {
  width: 450px;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #9cc7c3;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

/* className=" xs:w-[348px] sm:w-[450px] h-[56px] rounded-[4px]  bg-[#077369] text-white text-[20px] leading-[23px] font-[400] " */

.enabled {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #077369;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}

button:disabled {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  border-radius: 4px;
  background-color: #9cc7c3;
  color: white;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 24px;
  margin-bottom: 4px;
}
